@page
@model WebApp.Pages.Forms.InfoModel
@{
    ViewData["Title"] = "Info Page";
}

<h1 class="display-4 text-center mt-2">ArchZoom</h1>

<p class="text-center mt-4">
    Witamy w aplikacji poświęconej architekturze z całego świata. Zobaczysz tutaj obiekty, które my jak i nasi Użytkownicy uważamy za najbardziej godne i warte poświęcenia im Naszego cennego czasu. Znajdziesz tutaj inspiracje, gdzie wyjechać na wakacje, co zwiedzić lub po prostu co jest ciekawego na świecie. Dodatkowo możesz podzielić się własnymi miejscami, które polecisz nam i innym Użytkownikom tej aplikacji. Zapraszamy i mamy nadzieję, że zostaniesz z nami na dłużej.
</p>